In [1]:
import sqlite3
import pandas as pd
from datetime import datetime

### Printing all data

In [2]:
con = sqlite3.connect("project.sqlite")
df = pd.read_sql_query("SELECT * FROM transactions", con)
print(df)
con.commit()
con.close()

   Id Transaction_Type  Transaction_Amount Source_Account  SA_Old_Balance
0   1         TRANSFER            15500.00       C3258236         75000.0  \
1   2         TRANSFER             1000.00    C7847298484          5600.0
2   3         TRANSFER             3350.00      C95836345         68370.0
3   4          CASH_IN           159617.93     C187438719        153708.0

   SA_New_Balance Destination_Account  DA_Old_Balance  DA_New_Balance
0        59500.00            M2782487        45000.00        60500.00  \
1         4600.00            M9867547         9400.00        10400.00
2        65320.00           M63798790        15450.00        18800.00
3       313325.93          C804731631       565467.08       405849.15

         Date      Time Prediction
0  11-05-2023  16:28:39      Fraud
1  11-05-2023  16:31:25      Fraud
2  11-05-2023  16:33:36      Fraud
3  11-05-2023  16:48:13  Not Fraud

### FRAUD TRANSACTIONS

In [3]:
con = sqlite3.connect("project.sqlite")
df= pd.read_sql("SELECT * FROM transactions WHERE Prediction='Fraud'", con)
print(df)
con.commit()
con.close()

   Id Transaction_Type  Transaction_Amount Source_Account  SA_Old_Balance
0   1         TRANSFER             15500.0       C3258236         75000.0  \
1   2         TRANSFER              1000.0    C7847298484          5600.0
2   3         TRANSFER              3350.0      C95836345         68370.0

   SA_New_Balance Destination_Account  DA_Old_Balance  DA_New_Balance
0         59500.0            M2782487         45000.0         60500.0  \
1          4600.0            M9867547          9400.0         10400.0
2         65320.0           M63798790         15450.0         18800.0

         Date      Time Prediction
0  11-05-2023  16:28:39      Fraud
1  11-05-2023  16:31:25      Fraud
2  11-05-2023  16:33:36      Fraud

### NOT FRAUD TRANSACTIONS

In [4]:
con = sqlite3.connect("project.sqlite")
df= pd.read_sql("SELECT * FROM transactions WHERE Prediction='Not Fraud'", con)
print(df)
con.commit()
con.close()

   Id Transaction_Type  Transaction_Amount Source_Account  SA_Old_Balance
0   4          CASH_IN           159617.93     C187438719        153708.0  \

   SA_New_Balance Destination_Account  DA_Old_Balance  DA_New_Balance
0       313325.93          C804731631       565467.08       405849.15  \

         Date      Time Prediction
0  11-05-2023  16:48:13  Not Fraud

### TRANSACTIONS ON A GIVEN DATE

In [11]:

con = sqlite3.connect("project2.sqlite")
date_str = '10-05-2023'
date = datetime.strptime(date_str, '%d-%m-%Y').date().strftime('%d-%m-%Y')
print(date)
df = pd.read_sql("SELECT * FROM transactions WHERE Date='%s'" % date, con)
print(df)
con.commit()
con.close()

10-05-2023
   Id Transaction_Type  Transaction_Amount Source_Account  SA_Old_Balance
0   1         TRANSFER              1000.0     C123456789         22000.0  \
1   2         TRANSFER              2400.0     C789654134          4900.0
2   3          PAYMENT              3200.0     C575753248          8400.0
3   4          PAYMENT             42000.0     C804519843         66000.0
4   5         TRANSFER              6000.0     C123498765         50000.0
5   6         TRANSFER              4000.0    C8765123098         38000.0
6   7         TRANSFER              1000.0     C654123987          5200.0
7   8          PAYMENT              2100.0     C654234987          4500.0
8   9            DEBIT               500.0     C987612365          1200.0

   SA_New_Balance Destination_Account  DA_Old_Balance  DA_New_Balance
0         21000.0          M987654321         20000.0         21000.0  \
1          2500.0          M654321867          1400.0          3800.0
2          5200.0          M358762135          4200.0          7400.0
3         24000.0          M381290342         18000.0         60000.0
4         44000.0          M987651234         52000.0         58000.0
5         34000.0          M345698709         74000.0         78000.0
6          4200.0          M456876345          5300.0          6300.0
7          2400.0          M765345619          7400.0          9500.0
8             0.0                   0             0.0             0.0

         Date      Time Prediction
0  10-05-2023  18:10:39      Fraud
1  10-05-2023  18:52:16      Fraud
2  10-05-2023  18:54:19  Not Fraud
3  10-05-2023  18:56:14  Not Fraud
4  10-05-2023  18:59:48      Fraud
5  10-05-2023  19:03:08      Fraud
6  10-05-2023  19:04:24      Fraud
7  10-05-2023  19:06:52  Not Fraud
8  10-05-2023  19:08:03  Not Fraud

### TRANSACTIONS BETWEEN 2 DATES

In [6]:
con = sqlite3.connect("project.sqlite")
date1_str = '10-05-2023'
date2_str = '11-05-2024'
date1 = datetime.strptime(date1_str, '%d-%m-%Y').date().strftime('%d-%m-%Y')
print(date1)
date2 = datetime.strptime(date2_str, '%d-%m-%Y').date().strftime('%d-%m-%Y')
print(date2)
df = pd.read_sql("SELECT * FROM transactions WHERE Date BETWEEN '%s' AND '%s'" % (date1, date2), con)
print(df)
con.commit()
con.close()

10-05-2023
11-05-2024
   Id Transaction_Type  Transaction_Amount Source_Account  SA_Old_Balance
0   1         TRANSFER            15500.00       C3258236         75000.0  \
1   2         TRANSFER             1000.00    C7847298484          5600.0
2   3         TRANSFER             3350.00      C95836345         68370.0
3   4          CASH_IN           159617.93     C187438719        153708.0

   SA_New_Balance Destination_Account  DA_Old_Balance  DA_New_Balance
0        59500.00            M2782487        45000.00        60500.00  \
1         4600.00            M9867547         9400.00        10400.00
2        65320.00           M63798790        15450.00        18800.00
3       313325.93          C804731631       565467.08       405849.15

         Date      Time Prediction
0  11-05-2023  16:28:39      Fraud
1  11-05-2023  16:31:25      Fraud
2  11-05-2023  16:33:36      Fraud
3  11-05-2023  16:48:13  Not Fraud

### TRANSACTION IN GIVEN MONTH

In [7]:
con = sqlite3.connect("project.sqlite")
date_str = '10-05-2023'
month = datetime.strptime(date_str, '%d-%m-%Y').date().strftime('%m')
print(month)
df = pd.read_sql("SELECT * FROM transactions WHERE SUBSTR(Date, INSTR(Date, '-') + 1, 2)='%s'" % month, con)
print(df)
con.commit()
con.close()

05
   Id Transaction_Type  Transaction_Amount Source_Account  SA_Old_Balance
0   1         TRANSFER            15500.00       C3258236         75000.0  \
1   2         TRANSFER             1000.00    C7847298484          5600.0
2   3         TRANSFER             3350.00      C95836345         68370.0
3   4          CASH_IN           159617.93     C187438719        153708.0

   SA_New_Balance Destination_Account  DA_Old_Balance  DA_New_Balance
0        59500.00            M2782487        45000.00        60500.00  \
1         4600.00            M9867547         9400.00        10400.00
2        65320.00           M63798790        15450.00        18800.00
3       313325.93          C804731631       565467.08       405849.15

         Date      Time Prediction
0  11-05-2023  16:28:39      Fraud
1  11-05-2023  16:31:25      Fraud
2  11-05-2023  16:33:36      Fraud
3  11-05-2023  16:48:13  Not Fraud

### TRANSACTION IN GIVEN YEAR

In [8]:
con = sqlite3.connect("project.sqlite")
date_str = '10-05-2023'
year= datetime.strptime(date_str, '%d-%m-%Y').date().strftime('%Y')
print(year)
df = pd.read_sql("SELECT * FROM transactions WHERE SUBSTR(Date, INSTR(Date, '-') + 4, 4)='%s'" % year, con)
print(df)
con.commit()
con.close()

2023
   Id Transaction_Type  Transaction_Amount Source_Account  SA_Old_Balance
0   1         TRANSFER            15500.00       C3258236         75000.0  \
1   2         TRANSFER             1000.00    C7847298484          5600.0
2   3         TRANSFER             3350.00      C95836345         68370.0
3   4          CASH_IN           159617.93     C187438719        153708.0

   SA_New_Balance Destination_Account  DA_Old_Balance  DA_New_Balance
0        59500.00            M2782487        45000.00        60500.00  \
1         4600.00            M9867547         9400.00        10400.00
2        65320.00           M63798790        15450.00        18800.00
3       313325.93          C804731631       565467.08       405849.15

         Date      Time Prediction
0  11-05-2023  16:28:39      Fraud
1  11-05-2023  16:31:25      Fraud
2  11-05-2023  16:33:36      Fraud
3  11-05-2023  16:48:13  Not Fraud